<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ecommerce.WEB</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
   @*  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Ecommerce.WEB.styles.css" asp-append-version="true" /> *@

    <link rel="stylesheet" href="~/css/css_cliente/CategoriaStyle.css" asp-append-version="true" />

    <!-- Slick Carousel CSS -->
   @*  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" /> *@

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.lineicons.com/3.0/lineicons.css">


    <!-- Css Styles -->
    <link rel="stylesheet" href="~/css/css_cliente/bootstrap.min.css" type="text/css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/css_cliente/font-awesome.min.css" type="text/css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/css_cliente/elegant-icons.css" type="text/css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/css_cliente/jquery-ui.min.css" type="text/css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/css_cliente/magnific-popup.css" type="text/css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/css_cliente/style.css" type="text/css" asp-append-version="true">

    <!-- Bootstrap CSS -->
@*     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@



    @RenderSection("Style", required: false)

</head>
<body>


    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <!-- Logo -->
                <div class="col-xl-3 col-lg-2">
                    <div class="header__logo">
                        <a asp-area="" asp-controller="Home" asp-action="Index">
                            <img src="~/img/logo.png" alt="Ecommerce Logo">
                        </a>
                    </div>
                </div>

                <!-- Menú Principal -->
                <div class="col-xl-6 col-lg-7">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                            <li>
                                <a asp-controller="ProductoPorGenero" asp-action="Genero" asp-route-nombreGenero="Mujer">Mujeres</a>
                            </li>
                            <li>
                                <a asp-controller="ProductoPorGenero" asp-action="Genero" asp-route-nombreGenero="Hombre">Hombres</a>
                            </li>
                            <li>
                                <a asp-controller="Home" asp-action="Shop">Shop</a>
                            </li>
                            <li>
                                <a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="./product-details.html">Product Details</a></li>
                                    <li><a href="./shop-cart.html">Shop Cart</a></li>
                                    <li><a href="./checkout.html">Checkout</a></li>
                                    <li><a href="./blog-details.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a href="./blog.html">Blog</a></li>
                            <li><a href="./contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>

                <!-- Autenticación y widgets -->
                <div class="col-lg-3">
                    <div class="header__right">
                        <!-- Verificación de autenticación del usuario -->
                        <div class="header__right__auth">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <!-- Usuario autenticado: Cerrar sesión -->
                                <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="d-inline">
                                    @Html.AntiForgeryToken()
                                    <button type="submit" class="btn btn-link nav-link">Cerrar sesión</button>
                                </form>
                            }
                            else
                            {
                                <!-- Usuario no autenticado: Mostrar opciones de Login y Registro -->
                                <a asp-controller="Account" asp-action="Login">Iniciar Sesión</a>
                                <a asp-controller="Account" asp-action="Register">Registrarse</a>
                            }
                        </div>

                        <!-- Widgets de búsqueda, favoritos y carrito -->
                        <ul class="header__right__widget">
                            <li><span class="lni lni-search-alt"></span></li>
                            <li>
                                <a href="#">
                                    <span class="lni lni-heart"></span>
                                    <div class="tip">2</div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="lni lni-cart"></span>
                                    <div class="tip">2</div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Botón de menú móvil -->
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>

    
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
 

   @*  <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Ecommerce.WEB - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@

    <!-- JS Plugins -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Slick Carousel JS -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>


    <!-- Js Plugins -->
    @* <script src="~/js/js_cliente/jquery-3.3.1.min.js"></script> *@
    <script src="~/js/js_cliente/bootstrap.min.js"></script>
    <script src="~/js/js_cliente/jquery.magnific-popup.min.js"></script>
    <script src="~/js/js_cliente/jquery-ui.min.js"></script>
    <script src="~/js/js_cliente/mixitup.min.js"></script>
    <script src="~/js/js_cliente/jquery.countdown.min.js"></script>
    <script src="~/js/js_cliente/jquery.slicknav.js"></script>
    <script src="~/js/js_cliente/owl.carousel.min.js"></script>
    <script src="~/js/js_cliente/jquery.nicescroll.min.js"></script>
    <script src="~/js/js_cliente/main.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
